@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Was not sure if just body was okay so I added both for this */
html,
body {
  margin: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
/* Header with header links section start */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
  padding: 10px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-link {
  font-size: 18px;
  margin: 5px;
  color: #e5e7eb;
  text-decoration: none;
}
/* Header with header links section end */

/* Hero main section start*/
.hero-main-section {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 70px;
  background-color: #1f2937;
}

.top-container-wrapper {
  padding-right: 50px;
}

.top-container-header {
  color: #f9faf8;
  font-weight: bolder;
  font-size: 48px;
  margin: 0;
  padding-top: 50px;
}

.hero-main-text {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
}

.sign-up-button {
  padding: 5px 20px;
  font-size: 18px;
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  color: #f9faf8;
  cursor: pointer;
}

.placeholder-container {
  width: 100%;
  background-color: rgba(191, 191, 191, 0.5);
  padding: 95px 80px;
}

.placeholder-text {
  color: #e5e7eb;
  text-align: center;
  text-decoration: none;
}
/* Hero main section end */

/* Random information section start */
/* .information-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.middle-section-header {
  text-align: center;
  margin-top: 30px;
  color: #1f2937;
  font-weight: bolder;
  font-size: 36px;
}

.subtext-section {
  display: flex;
  align-items: center;
  margin: 30px 70px;
  font-size: 15px;
  color: #1f2937;
  /* gap: 25px; */
}

.information-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 20px;
}

.middle-section-information-image {
  width: 130px;
  height: 125px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.information-item p {
  text-align: center;
}
