html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/*Header work starts here*/
.header-container {
  background-color: #1f2937;
}

.header-container nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-link {
  color: #e5e7eb;
  text-decoration: none;
  margin: 5px;
}
/*Header work ends here*/

/*Top main section work starts here*/

.hero-main-section {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

.top-container-header {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-main-text {
  flex: 1 1 100%;
  margin: 0;
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up-button {
  background-color: #3882f6;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 4px 18px;
}

/*Top main section work ends here*/
